



APP_NAVN=AIS Anomalidetektor


# ais for historie

AIS_API_GRUNN_URL=https://kystdatahuset.no/ws/api/ais
FORESPORSEL_TIMEOUT_SEKUNDER=10
OPPDATERINGSINTERVALL_SEKUNDER=30


# LIVE data

BARENTSWATCH_TOKEN_URL=https://id.barentswatch.no/connect/token
BARENTSWATCH_LIVE_AIS_URL=https://live.ais.barentswatch.no/v1
BARENTSWATCH_CLIENT_ID=
BARENTSWATCH_CLIENT_SECRET=




FARTSHOPP_TERSKEL_KNOP=10
FARTSVINDU_MINUTTER=5
KURSHOPP_TERSKEL_GRADER=45
KURSVINDU_MINUTTER=5
AIS_GAP_MINUTTER=30



#telegram varsling w

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=